.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

label {
	margin-right: 10px;
}

select {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}